<a href="https://colab.research.google.com/github/DostdarDost/Teaching-Courses/blob/Courses/Python_List_Items_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python list and its operations

### 1 Python - Access List Items
List items are indexed and you can access them by referring to the index number:
# Example
Print the second item of the list:

In [1]:
# how to access to item in list by using index
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

##### Note: The first item has index 0.

### Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

## Example
Print the last item of the list:

In [2]:
print(thislist[-1])

cherry

## Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

## Example
Return the third, fourth, and fifth item:

In [3]:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

Note: The search will start at index 2 (included) and end at index 5 (not included).
By leaving out the start value, the range will start at the first item:
## Example
This example returns the items from the beginning to, but NOT including, "kiwi":

In [4]:
# 4th index is not including where kiwi
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [6]:
# 2nd index is included
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

## Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:
## Example
This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [7]:
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

## Check if Item Exists
## Example
Check if "apple" is present in the list:

In [12]:
thislist = ["apple", "banana", "cherry"]
if "cherry" in thislist:
  print("yes chreey in fruit list")
else:
  print("no chreey in fruit list")

yes chreey in fruit list

## Python - Change List Items
## Change Item Value
To change the value of a specific item, refer to the index number:

## Example
Change the second item:

In [14]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'blackcurrant', 'cherry']

## Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:
## Example
Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
## Example
Change the second value by replacing it with two new values:

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

Note: The length of the list will change when the number of items inserted does not match the number of items replaced.
If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
## Example
Change the second and third value by replacing it with one value:

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

## Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:
## Example
Insert "watermelon" as the third item:

In [20]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(3, "watermelon")
print(thislist)

['apple', 'banana', 'cherry', 'watermelon']