<a href="https://colab.research.google.com/github/DostdarDost/Teaching-Courses/blob/Courses/Python_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set in Python
Python also includes a data type for sets. A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary, a data structure that we discuss in the next section.

Here is a brief demonstration:

In [1]:
# make a set in python
name_0f_set={"apple", "orange","banana"}
print(type(name_0f_set))

<class 'set'>

### Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

### Duplicates Not Allowed

In [2]:
# Not allow repeation
name_0f_set={"apple", "orange","banana", "apple"}
name_0f_set

{'apple', 'banana', 'orange'}

## Example
True and 1 is considered the same value:

In [3]:
# Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:
name_0f_set={"apple", "orange","banana", True,1,2}
name_0f_set

{2, True, 'apple', 'banana', 'orange'}

#### Note:
The values False and 0 are considered the same value in sets, and are treated as duplicates:

### Example
False and 0 is considered the same value:

In [4]:
name_0f_set={"apple", "orange","banana", False,0,2}
name_0f_set

{2, False, 'apple', 'banana', 'orange'}

### Get the Length of a Set
To determine how many items a set has, use the len() function.

In [5]:
len(name_0f_set)

5