<a href="https://colab.research.google.com/github/DostdarDost/Teaching-Courses/blob/Courses/Python_Add_List_Items.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python - Add List Items
## 1. Append Items
To add an item to the end of the list, use the append() method:
## Example
Using the append() method to append an item:

In [1]:
mylist = ["apple", "banana", "cherry"]
mylist.append("orange") # dot append method
print(mylist)

['apple', 'banana', 'cherry', 'orange']

## 2. Insert Items
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

## Example
Insert an item as the second position:

In [2]:
mylist = ["apple", "banana", "cherry"]
mylist.insert(1, "orange")# dot insert method
print(mylist)

['apple', 'orange', 'banana', 'cherry']

## Extend List
To append elements from another list to the current list, use the extend() method.

## Example
Add the elements of mylist to thislist:

In [3]:
thislist = ["apple", "banana", "cherry"]
mylist = ["mango", "pineapple", "papaya"]
thislist.extend(mylist)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

## Add Any Iterable
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

## Example
Add elements of a tuple to a list:

In [4]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Python - Remove List Items
## Remove Specified Item
The remove() method removes the specified item.

## Example
Remove "banana":

In [5]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

If there are more than one item with the specified value, the remove() method removes the first occurrence:

## Example
Remove the first occurrence of "banana":

In [6]:

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

## Remove Specified Index
The pop() method removes the specified index.

## Example
Remove the second item:

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

## Example
Remove the last item:

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

## Example
Remove the first item:

In [9]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

## Example
Delete the entire list:

In [10]:
thislist = ["apple", "banana", "cherry"]
del thislist

## Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

## Example
Clear the list content:

In [11]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]