<a href="https://colab.research.google.com/github/DostdarDost/Teaching-Courses/blob/Courses/Python_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List in Python
Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [ ]:
mylist=[1,2,3,4,5,6]

In [ ]:
type(mylist)

list

In [ ]:
thislist=["apple","banana",'orange',"peach"]

In [ ]:
# indexing returns the item
thislist[2]

'orange'

In [ ]:
# slicing returns a new list
mylist[3:]

[4, 5, 6]

### Lists also support operations like concatenation:

In [ ]:
newlist = mylist + thislist
print(newlist)

[1, 2, 3, 4, 5, 6, 'apple', 'banana', 'orange', 'peach']

In [ ]:
numberlist=newlist[:6]
print(numberlist)

[1, 2, 3, 4, 5, 6]

In [ ]:
fruitlist=newlist[6:]
print(fruitlist)

['apple', 'banana', 'orange', 'peach']

In [ ]:
# add
new_numberlist=numberlist+[7,8,9,10]
print(new_numberlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#length
len(new_numberlist)

10

In [ ]:
# something's wrong here
cubes=[1,8,27,65,125] # 65 is wrong values

In [ ]:
4**3

64

In [ ]:
cubes[3]=64 # replace the wrong value
print(cubes[3])

64

In [ ]:
print(cubes)

[1, 8, 27, 64, 125]

You can also add new items at the end of the list, by using the list.append() method (we will see more about methods later):

In [ ]:
cubes.append(216)

In [ ]:
cubes

[1, 8, 27, 64, 125, 216]

In [ ]:
cubes.append(7**3)

In [ ]:
print(cubes)

[1, 8, 27, 64, 125, 216, 343]

In [ ]:
cubes.append("this are cube numbers")

In [ ]:
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 'this is cube numbers', 'this are cube numbers', 'this are cube numbers']

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters
['a', 'b', 'c', 'd', 'e', 'f', 'g']
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters
['a', 'b', 'C', 'D', 'E', 'f', 'g']
# now remove them
letters[2:5] = []
letters
['a', 'b', 'f', 'g']
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters
[]